# Active le module de réécriture d'URL d'Apache
RewriteEngine On

# Si le fichier ou le dossier demandé existe réellement (css, images, js...),
# on le sert directement sans passer par le routeur
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on redirige tout vers index.php en passant le chemin dans ?url=
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]


# Ce code impose deux conditions avant de rediriger vers index.php :
# 1. !-f → le chemin n’est pas un fichier existant
# 2. !-d → le chemin n’est pas un dossier existant

# ex : /css/style.css → fichier réel → pas réécrit (Apache sert le CSS)
# /menus → ni fichier ni dossier → réécrit vers index.php?url=menus

# Fichier donc appelé quand le user ecrit une URL avec le chemin /public/
